.page-header {
  position: relative;
  text-align: center;
  color: white;
}

.page-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.page-header .container {
  position: relative;
  z-index: 2;
  padding: 150px 0;
}
